@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
.App {
  font-family: sans-serif;
  text-align: center;
}
.non-bullets {
  list-style: none;
  display: inline;
  padding: 1rem;
  font-weight: bold;
  cursor: pointer;
  font-family: "Source Sans Pro", sans-serif;
}
